body {

   font-family: 'Nunito', sans-serif;
   background: #fff4c8;

}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    color:#555;
    font-weight: normal; /*elimino il grassetto!*/
    text-transform: uppercase; /*tutto in MAIUSCOLO!*/

}

p {
    margin-top:1rem;
    margin-bottom: 2rem;
}

img {
    margin-bottom:1rem;
    /*per allineare le immagini a SINISTRA uso float:left | a DESTRA float:right 
}


.main {
    width:95%; /*stringo il blocco principale dei contenuti*/

    max-width: 50rem;
    
    margin-left:auto;
    margin-right: auto; /*imposto i margini sx e dx uguali con il valore AUTO*/  

}

.box {
    padding:1rem; /* margine interno al DIV*/
    /* nota: la classe .box è applicata a due DIV diversi e agisce su entrambi, assieme ad altre classi*/
}

.box h2 {
    font-style: italic;
    text-transform: none; /*devo sovrascrivere la regola generale di H2!*/
}

.ingredienti {
    background: #fff941; /*cambio aspetto al DIV con classe 'ingredienti' */
  
    border: 1px solid #ffcc00; /*1. spessore 2. tipo di bordo 3. colore*/
}

.consigli {
    background:#ffffff; 
    border:1px solid #666;
}

.ingredienti strong {
    color:#681907;
}

.passo {
    background:#ED8D31;
    padding: 0.2rem 0.3rem; /*valore 1: sopra e sotto | valore 2: sinistra e destra*/

    /*in alternativa potrei fare:
    padding-left:6px;
    padding-right:6px;
    padding-top:2px;
    padding-bottom:2px;
    */

    font-weight: bold; /*grassetto!*/
    color:#efefef;

}


