/*regole generali per TUTTE le dimensioni schermo */
body {
    font-family: 'Poppins',sans-serif;
}

img {
    width: 100%;
    height:auto;
}

.wrapper {
    width: 90%;
    margin:0 auto;
}

#mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.logo {
    width:4rem;
}

.mainMenu ul {
    list-style-type: none;
    display: flex;
}

.mainMenu li {
margin-right:1rem;
}

#hero {
    background-image:url('https://source.unsplash.com/1920x1080/?music'); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; /*adattare lo sfondo alle dimensioni, occupando tutto lo spazio a disposizione*/

    width:100%;
    height:70vh;

    display: flex; /*per sistemare il testo dentro il DIV*/
    justify-content:flex-start;
    align-items: flex-end; /*sposta i figli in fondo all'asse Y*/
}

.heroText {
    background:rgba(255,255,255,0.6); /*sfondo trasparente*/
    padding:1rem;
    -webkit-backdrop-filter: blur(5px); /*serve a sfocare lo sfondo*/
}


#servizi {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.sectionTitle h2 {
    text-align: center;
}

.recensioniWrapper {
    display: flex;
    width:100%;
    flex-wrap: wrap;

    padding-top: 4rem;
    padding-bottom: 4rem;
}

.recensione {
    width: 100%;
    margin-bottom: 2rem;
}

@media (min-width:768px) {
    /*tablet e simili*/

    #servizi {
        display: flex;

    }

    .servizio {
        width: 33%;
        padding:1rem;
    }

    .recensioniWrapper {
        display: flex;
    }

    .recensione {
        display: flex;
        align-items: center;
    }

    .recensioneImage {
        width: 20%;     
    }

    .recensioneImage img {
        border-radius: 50%;
    }

    .recensioneText {
        width: 80%;
        padding-left: 1rem;
    }

}


@media (min-width:1200px) {
    /*desktop e portatili*/

    .wrapper {
        width: 80%;
    }

    .recensione {
        width: 50%;
    }

    .recensioneImage {
        width: 30%;
    }

    .recensioneText {
        width: 70%;
    }

    .heroText {
        width: 30%; /*su schermi grandi occupa solo il 30% del genitore*/
        height: 100%; /*su schermi grandi si espande a tutta altezza dentro HERO*/


    
    }




}