
*, *:before, *:after {
    box-sizing: border-box;
    /*serve a cambiare il Box Model su border-box sostituendo il default di content-box*/
    /*per approfondire: https://css-tricks.com/box-sizing/ */
  }

  body {
    font-family: 'Poppins', sans-serif;
}


img {
    max-width:100%;
    height:auto;
}

.wrapper {
    width:80%; 
    margin: 0 auto; /*margine TOP+BOTTOM=0 | margine LEFT+RIGHT=auto*/
}

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */

#mainHeader {
    display: flex;
    flex-flow:row; /*proprietà di default che imposta il MAIN AXIS sull'asse orizzontale*/
    justify-content: space-between; /*diponi gli oggetti in ORIZZONTALE (Main Axis) agli estremi del contenitore FLEX*/
    align-items: center; /*centra gli oggetti in VERTICALE (Cross Axis!)*/
}

.mainMenu ul {
    list-style-type: none; /*tolgo i puntini dalla lista del menu */
    display: flex; /*applico FlexBox al GENITORE degli elementi del menu (li) */
    
}

.mainMenu ul li { /*tutti gli LI contenuti da UL che a sua volta sta dentro a .mainMenu*/

        margin-left:1rem;
}


/* -------------------------------------------------------------------------- */
/*                                    HERO                                    */
/* -------------------------------------------------------------------------- */

#hero {
   margin: 5rem 0; /*margini SOPRA e SOTTO a 5rem; margine sx e dx 0*/
   position:relative;
}

.overlay {
    position:absolute; /*deve posizionarsi SOVRAPPOSTO al genitore #hero*/

    top:0;
    left:0;

    width:100%; /*occupa tutto lo spazio del genitore, in altezza e larghezza*/
    height: 100%;

    background: rgb(0,0,0); /*fallback per i browser che non supportano GRADIENT*/
    background: radial-gradient(circle, rgba(0,0,0,0.15730042016806722) 0%, rgba(0,0,0,1) 100%);
    /* background con sfondo copiato da CSS GRADIENT GENERATOR*/

   
}

.heroText {
    position:absolute;
    width: 100%;
    /*---hack per centrare il DIV rispetto al genitore con POSITION:absolute--*/

    height:5rem; /*fornire un'altezza in rem/px*/
    bottom:0; /*posizionare a 0 su tutti e 4 i lati*/
    left: 0;
    right:0;
    top:0;
    margin:auto; /*con il margin:auto resta centrato*/

    /*---fine hack per posizionamento centrato!---*/

    z-index:1; /*al livello di sovrapposizione più alto rispetto al default z-index 0;*/
    /* un elemento con z-index:1 resta SOPRA gli elementi con z-index:0*/
    /* un elemento con z-index:2 resta SOPRA gli elementi con z-index:1*/


    color:#fff;
    padding:2rem;
    text-align: center;
   
}

/*se volessi centrare il testo con FLEXBOX, in alternativa al trucco di cui sopra:
.heroText {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100%;
}
*/

/* -------------------------------------------------------------------------- */
/*                                    INTRO                                   */
/* -------------------------------------------------------------------------- */

#intro {
    display: flex;

    align-items: center; /*mi riferisco al Cross Axis, cioè il verticale*/

    margin-bottom: 5rem;
}

.introImg, .introText { /*sparando con la virgola applico le regole a ENTRAMBI i selettori*/
    width: 50%; /*esattamente la metà del contenitore #intro*/
}

.introImg img {/*immagine dentro il DIV .introImg*/
    width: 100%;
}

.introImg {
    /* se volessi mettere l'immagine a DESTRA anziché a SINISTRA potrei usare order:1;*/
    /*la proprietà ORDER si applica ai figli del contenitore Flexbox, e PARTE DA 0!*/
}
.introText {
    padding:2rem;
}

/* -------------------------------------------------------------------------- */
/*                                   GALLERY                                  */
/* -------------------------------------------------------------------------- */

#gallery {
    margin-bottom: 5rem;
}

.galleryWrapper {
    display: flex;
    flex-wrap: wrap;
}

.galleryItem {
    width: 25%;
    padding:1rem;
}

.galleryItem img {
    display: block;
    /*serve per evitare che le immagini nella gallery abbiano uno spazio sotto. Lo spazio deriva dal
    fatto che le immgini sono elementi in linea*/
}


/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */

#mainFooter {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background:#333;
    color:#efefef;
}